<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<!-- Include Header -->
<%- include('./partials/header') %>
<body>

    <form action="/stock/agregar-talle/<%= articulo.id %>" method="post" class="form-login">
        <h1>Agregar talle a <%= articulo.articulo %> </h1>
        <div class="divs-form">
            <div id="contenedorTalles">
                <div class="talle-box">
                  <div class="input-group">
                    <label for="talle">Talle:</label>
                    <input type="text" name="talle" value="<%= (locals.old !== undefined && old.talle) ? old.talle : '' %>" class="form-input" required>
                  </div>
          
                  <div class="input-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" value="<%= (locals.old !== undefined && old.cantidad) ? old.cantidad : '' %>" class="form-input" required>
                  </div>
                </div>
            </div>
          </div>
        <button type="submit" class="button-form">Agregar Talle</button>
    </form>

</body>
<!-- footer -->
<%- include('./partials/footer') %>

</html>